<div style="color: white" class="container align-content-center">
  <br />
  <br />
  <h1>¿Que es Pre-preparate?</h1>
  <h4>
    Pre-preparate es una plataforma de estudios dirigida a aspirantes de
    bachillerato para reforzar y/o mejorar sus conocimientos previos a su
    ingreso a bachillerato.
  </h4>
  <br />
  <h2>¿Que nos diferencia del resto?</h2>
  <h4>
    La plataforma de Pre-preparate ofrece evaluaciones personalizadas para cada
    uno de los usuarios. Esto permite que cada uno de los usuarios avance a su
    ritmo y aprendiendo a su manera.
  </h4>
  <br />
  <br />
  <br />
  <br />
</div>
